################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/SocketIOapp/.vs/SocketIOapp/v15
